@model DemoWebApplication.Models.BooksViewModel

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

@*@{Html.RenderPartial("_BookList", Model);}*@

<table class="table">
    <tr>
        <th> Book ID</th>
        <th> Book Name</th>
        <th> Book Publication</th>
        <th> Book Cateogry</th>
        <th> Book Quantity</th>
    </tr>

    @{
        if (Model.BooksList != null) {
            foreach (DemoWebApplication.Models.BooksViewModel Data in Model.BooksList) {
                <tr>
                    <td>@Data.BookId</td>
                    <td>@Data.BookName</td>
                    <td>@Data.BookPublisherName</td>
                    <td>@Data.BookCategoryName</td>
                    <td>@Data.BookQuantity</td>
                </tr>
            }
        } else {
            <tr><td colspan="5">Data Not Found</td></tr>
        }
    }
</table>

<ul class="pagination">
    @{
        decimal TotalPages = 1;
        if (Model.PageSize > 0) {
            TotalPages = Math.Ceiling((decimal)Model.TotalRecords / Model.PageSize);
        } else {
            TotalPages = Math.Ceiling((decimal)Model.TotalRecords / 10);
        }
        for (int i = 1; i <= TotalPages; i++) {
            <li>
                @Html.ActionLink(i.ToString(), "Index", new DemoWebApplication.Models.BooksViewModel() { PageNumber = i })
            </li>
        }
    }
</ul>