@model DemoWebApplication.Models.BooksViewModel

<table class="table">
    <tr>
        <th> Book ID</th>
        <th> Book Name</th>
        <th> Book Publication</th>
        <th> Book Cateogry</th>
        <th> Book Quantity</th>
    </tr>

    @{
        if (Model.BooksList != null) {
            foreach (DemoWebApplication.Models.BooksViewModel Data in Model.BooksList) {
                <tr>
                    <td>@Data.BookId</td>
                    <td>@Data.BookName</td>
                    <td>@Data.BookPublisherName</td>
                    <td>@Data.BookCategoryName</td>
                    <td>@Data.BookQuantity</td>
                </tr>
            }
        } else {
            <tr><td colspan="5">Data Not Found</td></tr>
        }
    }
</table>